 <roleManager enabled="true" defaultProvider="MultiplexingRoleProvider" cacheRolesInCookie="true">
  <providers>
    <clear />
    <add name="MultiplexingRoleProvider" type="EPiServer.Security.MultiplexingRoleProvider, EPiServer.Framework" provider1="IdentityRoleProvider" providerMap1="IdentityMembershipProvider" />
    <add name="IdentityRoleProvider" type="Valtech.Base.Authentication.Implementation.Infrastructure.Providers.IdentityRoleProvider, Valtech.Base.Authentication.Implementation" />
  </providers>
</roleManager>