<profile enabled="true" defaultProvider="CMSProfileProvider" inherits="Mediachase.Commerce.Customers.Profile.CustomerProfile, Mediachase.Commerce">
  <providers>
    <clear />
    <add name="CMSProfileProvider" type="Valtech.Base.Authentication.Implementation.Infrastructure.Providers.CustomerIdentityProfileProvider, Valtech.Base.Authentication.Implementation" connectionStringName="EPiServerDB" applicationName="EPiServer" />
  </providers>
  <properties />
</profile>