<membership defaultProvider="MultiplexingMembershipProvider" userIsOnlineTimeWindow="10" hashAlgorithmType="HMACSHA512">
  <providers>
    <clear />
    <add name="MultiplexingMembershipProvider" type="EPiServer.Security.MultiplexingMembershipProvider, EPiServer.Framework" provider1="IdentityMembershipProvider" />
    <add name="IdentityMembershipProvider" type="Valtech.Base.Authentication.Implementation.Infrastructure.Providers.IdentityMembershipProvider, Valtech.Base.Authentication.Implementation" />
  </providers>
</membership>