<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
<username>
    <allowonlyalphanumeric>${Valtech.Base.Authentication.Implementation.Username.AllowOnlyAlphanumeric}</allowonlyalphanumeric>
  </username><password>
    <requiredlength>${Valtech.Base.Authentication.Implementation.Password.RequiredLength}</requiredlength>
    <requirenonletterordigit>${Valtech.Base.Authentication.Implementation.Password.RequireNonLetterOrDigit}</requirenonletterordigit>
    <requiredigit>${Valtech.Base.Authentication.Implementation.Password.RequireDigit}</requiredigit>
    <requirelowercase>${Valtech.Base.Authentication.Implementation.Password.RequireLowercase}</requirelowercase>
    <requireuppercase>${Valtech.Base.Authentication.Implementation.Password.RequireUppercase}</requireuppercase>
  </password><lockout>
    <enabled>${Valtech.Base.Authentication.Implementation.Lockout.Enabled}</enabled>
    <timespan>${Valtech.Base.Authentication.Implementation.Lockout.Timespan}</timespan>
    <maximumfailedattempts>${Valtech.Base.Authentication.Implementation.Lockout.MaximumFailedAttempts}</maximumfailedattempts>
  </lockout></configuration>